<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Characteristic Blog</title>
        <link href="__JS__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="__CS__/css/grayscale.css" rel="stylesheet">
        {block name="link"}

        {/block}
    </head>
<body id="page-top">
	<!--nav-->
	{include file="nav"/}

	<!-- content -->
	{block name="content"}

	{/block}
	
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>版权所有 &copy; 开心逗逼 2018</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="__JS__/jquery/jquery.min.js"></script>
    <script src="__JS__/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="__CS__/js/grayscale.min.js"></script>
    {block name="myscript"}

    {/block}

</body>
</html>
