<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a article</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/css/adminframeset.css">
    {block name="adminstyle"}

    {/block}
</head>
<body>
<div class="container">
    <nav class="nav">
        <div class="logo"><a href="{:url('index/index/index')}">Characteristic Blog</a></div>
        <ul>
            <li><a href="{:url('admin/admin/admin')}">文章</a></li>
            <li><a href="{:url('index/index/index')}">返回首页</a></li>
            <li><a href="{:url('index/form/logout')}">注销</a></li>
        </ul>
    </nav>

    {block name="admincontent"}

    {/block}

</div>


{block name="javascript"}

{/block}

</body>
</html>